[submodule "textbooks/osbooks-biology-bundle"]
	path = textbooks/osbooks-biology-bundle
	url = https://github.com/openstax/osbooks-biology-bundle.git
[submodule "textbooks/osbooks-chemistry-bundle"]
	path = textbooks/osbooks-chemistry-bundle
	url = https://github.com/openstax/osbooks-chemistry-bundle.git
